<p>
  reactiveform works!
</p>
{{productForm.value| json}}

<form [formGroup]="productForm" (submit)="addProduct(productForm.value)" >
  <div class="form-group">
    <input class="form-control" type="number" name="id" formControlName="id">
  </div>
  <div class="form-group">
      <input type="text" class="form-control" name="id" formControlName="name">
  </div>
  <div class="form-group">
      <input type="number" class="form-control" name="id" formControlName="price">
  </div>
  <div [formGroupName]="address">
      <div class="form-group">
          <input type="number" class="form-control" name="addr1" formControlName="addressLine1">
      </div>
      <div class="form-group">
          <input type="number" class="form-control" name="addr2" formControlName="addressLine2">
      </div>
      <div class="form-group">
          <input type="number" class="form-control" name="city" formControlName="city">
      </div>
      <div class="form-group">
          <input type="number" class="form-control" name="pin" formControlName="pin">
      </div>
  </div>
  <div>
      <button [disabled]="productForm.invalid"  type="submit" md-raised-button color="primary">Submit</button>
  </div>
</form>